# ignore python path
.vscode

# ignore .pyc files
__pycache__

# ignore pictures vs
pictures/.vs

# ignore results
results/data/long-needle/*
results/data/cross-needle/*
results/data/long-bubble/*
results/data/cross-bubble/*
results/pictures/needle/*
results/pictures/bubble/*
results/pictures/contour/*
results/pictures/canny/*
results/pictures/wrapped/*
results/graph/*

# ignore virtual environment.
lacoste