# ignore python path
.vscode

#ignore .pyc files
__pycache__

#ignore pictures except sample_1.jpg
pictures/*
!pictures/sample_1.jpg

#ignore config file
config.ini

# ignore results
results/data/*
results/pictures/*

# ignore plot csv file
plot_data/*.csv