[path]
long_needle = C:\\Users\\Yusei\\D58\\Long-needle\\data\\*.jpg
long_bubble = C:\\Users\\Yusei\\D58\\Long-bubble\\*.jpg
cross_needle = C:\\Users\\Yusei\\D58\Cross-needle\\*.jpg
cross_bubble = C:\\Users\\Yusei\\D58\\Cross-bubble\\*.jpg
master = C:\\Users\\Yusei\\D58\\190716.txt