[path]
long-needle = C:\\Users\\Username\\D58\\Long-needle\\data\\*.jpg
long-bubble = C:\\Users\\Username\\D58\\Long-bubble\\data\\*.jpg
cross-needle = C:\\Users\\Username\\D58\Cross-needle\\data\\*.jpg
cross-bubble = C:\\Users\\Username\\D58\\Cross-bubble\\data\\*.jpg
master = C:\\Users\\Username\\D58\\190716.txt